.wrapper{
  background: lightgrey;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


.wrapper img {
width: 150px;
height: 150px;;
}

.wrapper h2, p{
  text-align: center;
}